/* =============
    Hero-1
============= */

#hero1{

    #heroimg{
        width: 100%;
             }

    article{

        h1{
            font-size: rem-calc(24px);
            @include lg{
                font-size: rem-calc(32px);
            }
        }
       
        button{
            background-color: transparent;
            border: none;
            font-size: rem-calc(18);
            font-weight: 700;
            color: var(--black);
        }

        @include md{
            display: grid;
            grid-template-columns: 50% auto;
        }
        #hero-book{
            background-color: var(--sienna);

            @include xxl{
                grid-template-columns: auto 720px 16px;
            }
        }

        #hero-contact{
            background-color: var(--orange);

            @include xxl{
                grid-template-columns: 16px 720px auto;
            } 
        }
    }
}
