/* =============
    Hero-1
============= */

#hero1 {

    #heroimg {
        width: 100%;
        height: 40vh;
        background-image: url('../img/hero1/hero1.jpg');
        background-size: cover;
        background-position: center;

        @include lg {
            height: 70vh;
        }
    }

    article {

        h1 {
            font-size: rem-calc(24px);

            @include lg {
                font-size: rem-calc(32px);
            }

            #hero-info-cards {

                display: flex;

                button {
                    background-color: transparent;
                    border: none;
                    font-size: rem-calc(18);
                    font-weight: 700;
                    color: var(--black);
                    margin-left: auto;

                    @include lg {
                        display: flex;
                        align-items: center;
                    }

                    img {
                        @include md {
                            margin-left: 8px;
                        }
                    }
                }

            }

        }



        @include md {
            display: grid;
            grid-template-columns: 50% auto;
        }

        #hero-book {
            background-color: var(--sienna);

            @include xxl {
                grid-template-columns: auto 720px 16px;
            }
        }





        #hero-contact {
            background-color: var(--orange);

            @include xxl {
                grid-template-columns: 16px 720px auto;
            }
        }
    }
}