/* =============
    planning
============= */


#planning-container{
    
    display: flex;
    align-items: center;

    @include md{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". planning .";
    }

    @include xxl{
        grid-template-columns: auto 1440px auto;
    }

    >div{
        grid-area: planning;
        display: grid;
        gap: 24px;

        @include md{
            grid-template-columns: 50% auto;
        }


        .circle-container{
            margin-left: auto;
        }

        aside{
            height: 85px;
            width: 85px;
            border-radius: 100%;
            border: 4px solid var(--white);
            background-size: cover;

            

            @include md{
                height: 113px;
                width: 113px;

            }
        }

    }
   
   
   
   
    h1{
        font-size: rem-calc(32px);

        @include md{
            font-size: rem-calc(36px);
        }
        @include lg{
            font-size: rem-calc(40px);
        }
    }

    #history{
        aside{
            background-image: url('../img/planning/ourhistoryicon.jpg');
            background-position: 30% 50%;
        }
    }

    #events{
        aside{
            background-image: url('../img/planning/eventicon.jpg');
            background-position: center;
        }
    }

    .planning-grid{
        background-color: var(--olive);
        padding: 16px;
        display: flex;
        // display: grid;
        
        // grid-template-columns: 75% auto ;
        // padding-bottom: 16px;

        aside{
            margin-left: auto;
            img{
                // margin-top: 10px;
            }
        }
    }  

    .planning-spacing{
        margin-left: 16px;
        text-align: center;
        padding: 16px;
    }

}