/* =============
    rooms
============= */

#rooms {
    #title{

    }
h1{
    color: var(--olive);
    font-size: rem-calc(24);

    @include md{
        font-size: rem-calc(36px);
    }
    @include lg{
        font-size: rem-calc(40px);
    }
}
    article {

        @include md {
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". rooms .";
        }

        @include xxl {
            grid-template-areas: auto 1440px auto;
        }


        ul {
            display: grid;
            gap: 16px;

            @include md {
                grid-area: rooms;
                grid-template-columns: repeat(4, 1fr);
                grid-template-areas:
                    "r1 r1 r2 r2"
                    "r3 r3 r4 r4"
                    ". r5 r5 .";
            }

            @include lg {
                grid-template-columns: repeat(6, 1fr);
                grid-template-areas:
                    "r1 r1 r2 r2 r3 r3"
                    ". r4 r4 r5 r5 .";
            }

            #r1 {
                aside{
                    background-image: url('../img/rooms&ameneties/captain_mask.jpg');
                }
                @include md {
                    grid-area: r1;
                }
            }

            #r2 {
                aside{
                    background-image: url('../img/rooms&ameneties/standard_mask.jpg');
                }
                @include md {
                    grid-area: r2;
                }
            }

            #r3 {
                aside{
                    background-image: url('../img/rooms&ameneties/bunk_mask.jpg');
                }
                @include md {
                    grid-area: r3;
                }
            }

            #r4 {
                aside{
                    background-image: url('../img/rooms&ameneties/rooftop_mask.jpg');
                }
                @include md {
                    grid-area: r4;
                }
            }

            #r5 {
                aside{
                    background-image: url('../img/rooms&ameneties/ballroom_mask.jpg');
                }
                @include md {
                    grid-area: r5;
                }
            }

            li {
                background-color: var(--cream);

                aside{
                    height: 200px;
                    background-size: cover;
                    background-position: center;

                    @include xxl{
                        height: 300px;
                    }
                }

                section {
                    
                    padding: 16px;

                    h1{
                        font-size: rem-calc(32);
                        @include md{
                            font-size: rem-calc(36);
                        }
                        @include lg{
                            font-size: rem-calc(40);
                        }
                    }
                    p{
                        margin: 12px 0 16px;
                    }
                }

            }

        }
    }

}